In [2]:
import pandas as pd
import plotly.express as px
df=pd.read_csv("retail_sales_dataset.csv")

In [3]:
# 1. Confirmar o calcular el Total Amount
df['Calculated Total'] = df['Quantity'] * df['Price per Unit']

# 2. Normalizar la columna Age
min_age = df['Age'].min()
max_age = df['Age'].max()
df['Normalized Age'] = (df['Age'] - min_age) / (max_age - min_age) if max_age != min_age else 1  # Evitar división por cero

# 3. Normalizar la columna Total Amount
min_total = df['Total Amount'].min()
max_total = df['Total Amount'].max()
df['Normalized Total'] = (df['Total Amount'] - min_total) / (max_total - min_total) if max_total != min_total else 1

# Mostrar el DataFrame con las nuevas columnas
print(df)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Calculated Total  Normalized Age  \
0           3              50           150               150        0.347826
1           2             500          1000              1000        0.173913
2           1              30            30                30        0.695652
3           1             500           500               500        0.413043
4           2              50           100               100        0.260870
..        ...             ...           ...               ...             ...
995         1              50            50                50        0.956522
996         3              30            90                90        0.739130
997         4              25           100               100        0.108696
998         3              50           150               150        0.391304
999         4              30           120               120        0.630435

     Normalized Total
0            0.063291
1            0.493671
2            0.002532
3            0.240506
4            0.037975
..                ...
995          0.012658
996          0.032911
997          0.037975
998          0.063291
999          0.048101

[1000 rows x 12 columns]

In [4]:
df['Calculated Total'] = df['Quantity'] * df['Price per Unit']

# Definir los límites para las categorías usando cuantiles
low_threshold = df['Calculated Total'].quantile(0.33)
high_threshold = df['Calculated Total'].quantile(0.66)

# Crear la columna de clasificación de ventas
def classify_sales(total):
    if total <= low_threshold:
        return 'Baja'
    elif total <= high_threshold:
        return 'Media'
    else:
        return 'Alta'

df['Sales Category'] = df['Calculated Total'].apply(classify_sales)

# Mostrar el DataFrame con la nueva columna de clasificación
print(df)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Calculated Total  Normalized Age  \
0           3              50           150               150        0.347826
1           2             500          1000              1000        0.173913
2           1              30            30                30        0.695652
3           1             500           500               500        0.413043
4           2              50           100               100        0.260870
..        ...             ...           ...               ...             ...
995         1              50            50                50        0.956522
996         3              30            90                90        0.739130
997         4              25           100               100        0.108696
998         3              50           150               150        0.391304
999         4              30           120               120        0.630435

     Normalized Total Sales Category
0            0.063291          Media
1            0.493671           Alta
2            0.002532           Baja
3            0.240506          Media
4            0.037975          Media
..                ...            ...
995          0.012658           Baja
996          0.032911           Baja
997          0.037975          Media
998          0.063291          Media
999          0.048101          Media

[1000 rows x 13 columns]

In [7]:
# Convertir la columna 'Date' a tipo fecha y extraer el mes
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month

# Agrupar por Producto y Mes y aplicar funciones de agregación
grouped_df = df.groupby(['Product Category', 'Month']).agg(
    Total_Amount_Sum=('Total Amount', 'sum'),
    Total_Amount_Mean=('Total Amount', 'mean'),
    Quantity_Count=('Quantity', 'count'),
    Min_Price=('Price per Unit', 'min'),
    Max_Price=('Price per Unit', 'max'),
    Price_Std=('Price per Unit', 'std'),
    Price_Var=('Price per Unit', 'var')
).reset_index()

# Mostrar el DataFrame agrupado con las estadísticas descriptivas
print(grouped_df)

   Product Category  Month  Total_Amount_Sum  Total_Amount_Mean  \
0            Beauty      1             13930         535.769231
1            Beauty      2             14035         539.807692
2            Beauty      3             10545         502.142857
3            Beauty      4             11905         410.517241
4            Beauty      5             12450         444.642857
5            Beauty      6             10995         439.800000
6            Beauty      7             16090         595.925926
7            Beauty      8              9790         407.916667
8            Beauty      9              6320         316.000000
9            Beauty     10             15355         495.322581
10           Beauty     11              9700         388.000000
11           Beauty     12             12400         496.000000
12         Clothing      1             13125         504.807692
13         Clothing      2             14560         441.212121
14         Clothing      3             15065         396.447368
15         Clothing      4             13940         387.222222
16         Clothing      5             17455         471.756757
17         Clothing      6             10170         363.214286
18         Clothing      7              8250         434.210526
19         Clothing      8             12455         389.218750
20         Clothing      9              9975         498.750000
21         Clothing     10             13315         443.833333
22         Clothing     11             15200         584.615385
23         Clothing     12             12070         464.230769
24      Electronics      1              9925         381.730769
25      Electronics      2             15465         594.807692
26      Electronics      3              3380         241.428571
27      Electronics      4              8025         382.142857
28      Electronics      5             23245         581.125000
29      Electronics      6             15550         647.916667
30      Electronics      7             11125         427.884615
31      Electronics      8             14715         387.236842
32      Electronics      9              7325         293.000000
33      Electronics     10             17910         511.714286
34      Electronics     11             10020         371.111111
35      Electronics     12             20220         505.500000

    Quantity_Count  Min_Price  Max_Price   Price_Std     Price_Var
0               26         25        500  216.028844  46668.461538
1               26         25        500  210.253784  44206.653846
2               21         25        500  211.273632  44636.547619
3               29         25        500  195.329392  38153.571429
4               28         25        500  196.014523  38421.693122
5               25         25        500  181.584462  32972.916667
6               27         25        500  212.307396  45074.430199
7               24         25        500  174.519916  30457.201087
8               20         25        500  141.527383  20030.000000
9               31         25        500  199.093240  39638.118280
10              25         25        500  179.730817  32303.166667
11              25         25        500  202.188443  40880.166667
12              26         25        500  191.124708  36528.653846
13              33         25        500  196.438821  38588.210227
14              38         25        500  173.022252  29936.699858
15              36         25        500  175.758842  30891.170635
16              37         25        500  208.312612  43394.144144
17              28         25        500  188.554355  35552.744709
18              19         25        500  197.490469  39002.485380
19              32         25        500  197.610155  39049.773185
20              20         25        500  179.042776  32056.315789
21              30         25        500  184.346391  33983.591954
22              26         25        500  175.603136  30836.461538
23              26         25        500  176.395971  31115.538462
24              26         25        500  202.555216  41028.615385
25              26         25        500  186.772589  34884.000000
26              14         25        500  178.857792  31990.109890
27              21         25        500  144.312822  20826.190476
28              40         25        500  201.593651  40640.000000
29              24         25        500  201.461935  40586.911232
30              26         25        500  212.818088  45291.538462
31              38         25        500  188.631225  35581.738976
32              25         25        500  157.861490  24920.250000
33              35         25        500  198.161190  39267.857143
34              27         25        500  182.744002  33395.370370
35              40         25        500  182.714179  33384.471154

In [8]:
# Calcular el total por venta si no está ya calculado
df['Calculated Total'] = df['Quantity'] * df['Price per Unit']

# Agrupar por Product Category y calcular la desviación de cada venta respecto a la media de su grupo
def deviation_from_mean(group):
    group['Deviation from Mean'] = group['Calculated Total'] - group['Calculated Total'].mean()
    return group

# Aplicar la función personalizada al DataFrame agrupado por 'Product Category'
df = df.groupby('Product Category').apply(deviation_from_mean)

# Mostrar el DataFrame con la nueva columna de desviación
print(df)

                      Transaction ID       Date Customer ID  Gender  Age  \
Product Category
Beauty           0                 1 2023-11-24     CUST001    Male   34
                 4                 5 2023-05-06     CUST005    Male   30
                 5                 6 2023-04-25     CUST006  Female   45
                 11               12 2023-10-30     CUST012    Male   35
                 20               21 2023-01-14     CUST021  Female   50
...                              ...        ...         ...     ...  ...
Electronics      988             989 2023-12-28     CUST989  Female   44
                 991             992 2023-08-21     CUST992  Female   57
                 992             993 2023-02-06     CUST993  Female   48
                 998             999 2023-12-05     CUST999  Female   36
                 999            1000 2023-04-12    CUST1000    Male   47

                     Product Category  Quantity  Price per Unit  Total Amount  \
Product Category
Beauty           0             Beauty         3              50           150
                 4             Beauty         2              50           100
                 5             Beauty         1              30            30
                 11            Beauty         3              25            75
                 20            Beauty         1             500           500
...                               ...       ...             ...           ...
Electronics      988      Electronics         1              25            25
                 991      Electronics         2              30            60
                 992      Electronics         3              50           150
                 998      Electronics         3              50           150
                 999      Electronics         4              30           120

                      Calculated Total  Normalized Age  Normalized Total  \
Product Category
Beauty           0                 150        0.347826          0.063291
                 4                 100        0.260870          0.037975
                 5                  30        0.586957          0.002532
                 11                 75        0.369565          0.025316
                 20                500        0.695652          0.240506
...                                ...             ...               ...
Electronics      988                25        0.565217          0.000000
                 991                60        0.847826          0.017722
                 992               150        0.652174          0.063291
                 998               150        0.391304          0.063291
                 999               120        0.630435          0.048101

                     Sales Category  Month  Deviation from Mean
Product Category
Beauty           0            Media     11           -317.47557
                 4            Media      5           -367.47557
                 5             Baja      4           -437.47557
                 11            Baja     10           -392.47557
                 20           Media      1             32.52443
...                             ...    ...                  ...
Electronics      988           Baja     12           -433.78655
                 991           Baja      8           -398.78655
                 992          Media      2           -308.78655
                 998          Media     12           -308.78655
                 999          Media      4           -338.78655

[1000 rows x 15 columns]

C:\Users\feded\AppData\Local\Temp\ipykernel_9564\1124629841.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('Product Category').apply(deviation_from_mean)